<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
    <httpRuntime encoderType="Microsoft.Security.Application.AntiXssEncoder, AntiXssLibrary"/>
    <customErrors mode="On"/>
    <httpHandlers>
      <add verb="*" path="*" validate="false" type="AspNetConnector.AspNetConnectorHandler"/>
    </httpHandlers>
    <httpModules>
      <add type="AspNetConnector.AspNetConnectorModule" name="AspNetConnectorModule"/>
    </httpModules>
  </system.web>
</configuration>